financas-ws/CategoriaWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.webServices/" name="CategoriaWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.webServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://ws.webServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="categoria" type="tns:categoria"/>

      <xs:element name="listarCategorias" type="tns:listarCategorias"/>

      <xs:element name="listarCategoriasResponse" type="tns:listarCategoriasResponse"/>

      <xs:element name="pesquisarCategorias" type="tns:pesquisarCategorias"/>

      <xs:element name="pesquisarCategoriasResponse" type="tns:pesquisarCategoriasResponse"/>

      <xs:complexType name="listarCategorias">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="listarCategoriasResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:categoria" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="categoria">
        <xs:sequence>
          <xs:element name="codCategoria" type="xs:int" minOccurs="0"/>
          <xs:element name="descricao" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="pesquisarCategorias">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="pesquisarCategoriasResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:categoria" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="listarCategorias">
    <part name="parameters" element="tns:listarCategorias"/>
  </message>
  <message name="listarCategoriasResponse">
    <part name="parameters" element="tns:listarCategoriasResponse"/>
  </message>
  <message name="pesquisarCategorias">
    <part name="parameters" element="tns:pesquisarCategorias"/>
  </message>
  <message name="pesquisarCategoriasResponse">
    <part name="parameters" element="tns:pesquisarCategoriasResponse"/>
  </message>
  <portType name="CategoriaWS">
    <operation name="listarCategorias">
      <input wsam:Action="http://ws.webServices/CategoriaWS/listarCategoriasRequest" message="tns:listarCategorias"/>
      <output wsam:Action="http://ws.webServices/CategoriaWS/listarCategoriasResponse" message="tns:listarCategoriasResponse"/>
    </operation>
    <operation name="pesquisarCategorias">
      <input wsam:Action="http://ws.webServices/CategoriaWS/pesquisarCategoriasRequest" message="tns:pesquisarCategorias"/>
      <output wsam:Action="http://ws.webServices/CategoriaWS/pesquisarCategoriasResponse" message="tns:pesquisarCategoriasResponse"/>
    </operation>
  </portType>
  <binding name="CategoriaWSPortBinding" type="tns:CategoriaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="listarCategorias">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pesquisarCategorias">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CategoriaWSService">
    <port name="CategoriaWSPort" binding="tns:CategoriaWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

